@import '../abstracts/mixins';
@import '../abstracts/variables';

.accordian {
  &__item {
    display: flex;
    flex-direction: column;
    transition: all 0.3s ease-in-out;
    text-transform: none;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;

    &__header {
      padding: 2.8125rem 0 2.8125rem 0;
      cursor: pointer;
      display: flex;
      align-items: center;
      user-select: none;
    }

    &__text {
      flex-grow: 1;
      margin-bottom: 0;
      color: $color_dark_1;
      margin-right: 1rem;

      &--light {
        color: $color_light_1;
      }
    }

    &__description {
      margin-bottom: 2.8125rem;
      padding-right: 32px;
      color: $color_grey_1;
      display: none;
      position: relative;

      &.active {
        display: block;
      }

      p:not(:first-child) {
        margin-top: 0.7rem;
      }

      @include inline-anchor;
      @include unordered-list;

      &--light {
        color: $color_grey_2;
      }
    }

    &:hover {
      border-bottom: 1px solid $color_supply;
    }
  }

  &__plus {
    height: 2rem;
    width: 2rem;
    position: relative;
    flex-shrink: 0;

    span {
      position: absolute;
      transition: 0.3s;
      background: $color_supply;

      &:first-of-type {
        top: 0%;
        bottom: 0%;
        width: 10%;
        left: 45%;

        &.active {
          transform: rotate(90deg);
        }
      }

      &:last-of-type {
        left: 0%;
        right: 0%;
        height: 10%;
        top: 45%;

        &.active {
          left: 50%;
          right: 50%;
        }
      }
    }

    &--light {
      span {
        background-color: $color_light_1;
      }
    }

    &.active {
      span:first-of-type {
        transform: rotate(90deg);
      }

      span:last-of-type {
        left: 50%;
        right: 50%;
      }
    }
  }
}
