@import '../abstracts/variables';

.chevron {
  &::before {
    border-style: solid;
    border-width: 2px 2px 0 0;
    content: '';
    display: inline-block;
    height: 8px;
    left: 0px;
    position: relative;
    top: 5px;
    transform: rotate(135deg);
    vertical-align: top;
    width: 8px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  }

  &.active {
    &::before {
      transform: rotate(-45deg);
    }
  }
}
