@import '../abstracts/mixins';
@import '../abstracts/variables';

.icon {
  flex-shrink: 0;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border-radius: 50%;
  width: 1.8rem;
  height: 1.8rem;
  min-width: 1.8rem;
  min-height: 1.8rem;

  &--small {
    width: 1.5625rem;
    height: 1.5625rem;
  }

  &--large {
    width: 3.375rem;
    height: 3.375rem;
    min-width: 3.375rem;
    min-height: 3.375rem;
  }

  &--loading {
    @extend .animated-background;
  }

  &--AAVE {
    background-image: url('/compound-components/assets/asset_AAVE.svg');
  }

  &--BAT {
    background-image: url('/compound-components/assets/asset_BAT.svg');
  }

  &--CASH {
    background-image: url('/compound-components/assets/asset_CASH--green.svg');

    &--dark {
      background-image: url('/compound-components/assets/asset_CASH--white.svg');
    }
  }

  &--COMP {
    background-image: url('/compound-components/assets/asset_COMP.svg');
  }

  &--DAI {
    background-image: url('/compound-components/assets/asset_DAI.svg');
  }

  &--ETH,
  &--WETH {
    background-image: url('/compound-components/assets/asset_ETH.svg');
  }

  &--LINK {
    background-image: url('/compound-components/assets/asset_LINK.svg');
  }

  &--MKR {
    background-image: url('/compound-components/assets/asset_MKR.svg');
  }

  &--REP {
    background-image: url('/compound-components/assets/asset_REP.svg');
  }

  &--SAI {
    background-image: url('/compound-components/assets/asset_SAI.svg');
  }

  &--SUSHI {
    background-image: url('/compound-components/assets/asset_SUSHI.svg');
  }

  &--TUSD {
    background-image: url('/compound-components/assets/asset_TUSD.svg');
  }

  &--UNI {
    background-image: url('/compound-components/assets/asset_UNI.svg');
  }

  &--USDC {
    background-image: url('/compound-components/assets/asset_USDC.svg');
  }

  &--USDP {
    background-image: url('/compound-components/assets/asset_USDP.svg');
  }

  &--USDT {
    background-image: url('/compound-components/assets/asset_USDT.svg');
  }

  &--WBTC,
  &--WBTC2 {
    background-image: url('/compound-components/assets/asset_BTC.svg');
  }

  &--YFI {
    background-image: url('/compound-components/assets/asset_YFI.svg');
  }

  &--ZRX {
    background-image: url('/compound-components/assets/asset_ZRX.svg');
  }

  &--coinbase {
    background-image: url('/compound-components/assets/icn-coinbase-wallet.svg');
  }

  &--ledger {
    background-image: url('/compound-components/assets/icn-ledger.svg');
  }

  &--metamask {
    background-image: url('/compound-components/assets/icn-metamask.svg');
  }
}
