.line-icon {
  cursor: pointer;
  flex-shrink: 0;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 17px;
  height: 17px;

  &--copy {
    background-image: url("/images/icn-copy.svg");

    &:hover {
      background-image: url("/images/icn-copy-green.svg");
    }
  }

  &--external-link {
    background-image: url("/images/icn-external-link.svg");

    &:hover {
      background-image: url("/images/icn-external-link-green.svg");
    }

    &--gray {
      background-image: url("/images/icn-external-link-gray.svg");
    }

    &--green {
      background-image: url("/images/icn-external-link-green.svg");
    }

    &--black {
      background-image: url("/images/icn-external-link-black.svg");
    }
  }

  &--complete {
    background-image: url("/images/icn-complete.svg");
  }

  &--edit {
    height: 30px;
    width: 30px;
    background-image: url("/images/icn-edit.svg");
  }

  &--plus {
    height: 30px;
    width: 30px;
    background-image: url("/images/icn-plus.svg");
  }

  &--small {
    width: 12px;
    height: 12px;
  }
}

