@import '../abstracts/variables';

@mixin row() {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  border-bottom: 1px solid $color_border;
  padding: 1.25rem $gov-column-gutter;
}

@mixin row--hover {
  @include row();
  border-left: 2px solid transparent;
  padding-left: $gov-column-gutter - 0.125rem;
  text-transform: none;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 0;
  transition: none;

  &:hover {
    border-left: 2px solid $color_supply;
    color: $color_dark_2;
  }
}

.panel {
  background: #ffffff;
  box-shadow: 0px 2px 4px rgba(16, 21, 24, 0.05);
  border-radius: 4px;
  margin-bottom: 1.33rem;

  &--dark {
    background: $color_dark_2;

    .panel__header {
      border-bottom: 1px solid $color_dark_1;
      h4 {
        color: #ffffff;
      }
    }

    .panel__labels {
      background: $color_dark_2;
      border-bottom: 1px solid $color_dark_1;
    }
  }

  &__header {
    display: flex;
    flex-flow: inherit;
    align-items: center;
    justify-content: space-between;
    font-size: 1.1rem;
    padding: 1rem $gov-column-gutter;
    border-bottom: 1px solid $color_border;

    h4 {
      margin: 0;
    }
  }

  &__labels {
    display: flex;
    padding: 1rem $gov-column-gutter;
    border-bottom: 1px solid $color_border;
    align-items: center;

    & > div {
      &:first-child {
        padding-left: 0;
      }

      &:last-child {
        padding-right: 0;
      }
    }

    &--no-header {
      border-radius: 4px 4px 0 0;
    }
  }

  &__section {
    border-top: 1px solid $color_dark_1;

    &--row-dividers {
      & > div {
        border-right: 1px solid $color_dark_1;

        &:last-child {
          border-right: none;
        }
      }
    }

    &__content {
      padding: 1rem $gov-column-gutter;
    }
  }

  &__footer {
    padding: 1.145rem 1.9375rem;
    border-bottom: none;
    border-radius: 0 0 4px 4px;
    display: flex;
    justify-content: center;
    color: #050f19;
    @include anchor;

    &:hover {
      color: $color_supply;
    }

    &--disabled {
      color: $color_grey_3;
      user-select: none;

      &:hover {
        color: $color_grey_3;
        cursor: initial;
      }
    }
  }

  &__pager {
    padding: 2rem 1.9375rem;
    border-bottom: none;
    border-radius: 0 0 4px 4px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #050f19;

    @media (min-width: $device-md) {
      padding: 1.145rem 1.9375rem;
    }

    &__previous {
      position: absolute;
      left: $gov-column-gutter;

      &::before {
        @include pager-caret();
        margin-right: $column-gutter/2;
      }

      label {
        text-transform: uppercase;
        color: $color_dark_2;
        font-weight: 500;
        cursor: pointer;
      }

      &:hover {
        color: $color_supply;

        label {
          color: $color_supply;
        }
      }
    }

    &__indicator {
      display: flex;
      justify-content: space-between;
      cursor: pointer;

      &__text {
        color: #b8c2cc;
        padding: 0 0.5rem;

        &--active {
          color: $color_dark_2;
        }
      }
    }

    &__next {
      position: absolute;
      right: $gov-column-gutter;

      &::after {
        @include pager-caret();
        transform: rotate(45deg);
        margin-left: $column-gutter/2;
      }

      label {
        text-transform: uppercase;
        color: $color_dark_2;
        font-weight: 500;
        cursor: pointer;
      }

      &:hover {
        color: $color_supply;

        label {
          color: $color_supply;
        }
      }
    }
  }
}

.legacy-panel {
  @include panel();
  margin-bottom: $column-gutter;
  .header {
    display: flex;
    flex-flow: inherit;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid $color_border;
    padding: $column-gutter ($column-gutter * 1.5);
    font-size: 1.1rem;
    label {
      margin: 0;
    }
    h4,
    h3 {
      margin: 0;
    }
  }
  .labels {
    display: flex;
    border-bottom: 1px solid $color_grey_3;
    padding: 1rem $column-gutter 1rem;
  }
  //TODO: This whole section might be goin away once we update all panels to be using the governance-panel styles!
  .content {
    padding: 0 ($column-gutter * 1.5);

    .text-largest {
      margin: ($column-gutter * 1.5) 0;
    }
    p {
      text-align: center;
      color: $color_neutral;
    }
    .demi.row {
      padding: $column-gutter 0 ($column-gutter * 1.5);
    }
  }

  //TODO: Think about moving this into it's own component file. Lots of things use it.
  .calculation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid $color_grey_3;
    padding: $column_gutter 0;
    .description {
      color: $color_text_muted;
    }

    &:last-of-type {
      border-bottom: none;
      margin-bottom: 1rem;
    }
  }
}
