@import './variables';

@mixin anchor() {
  cursor: pointer;
  transition: all 0.15s linear;

  &:hover {
    color: $color--brand;
    text-decoration: none;
  }
}

@mixin inline-anchor {
  a {
    border-bottom: 1px solid transparent;
    color: $color_supply;
    font-family: 'Haas Grot Text R';
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0;
    padding-bottom: 0.02rem;
    margin: 0px;
    text-decoration: none;
    text-transform: none;

    &:hover {
      border-bottom: 1px solid $color_supply;
    }
  }
}

@mixin unordered-list {
  ul {
    list-style: none;
    list-style-position: outside;
    padding-left: 0;

    li {
      margin-bottom: 1rem;
      padding-left: 1.1rem;

      @include inline-anchor;

      &:last-child {
        margin-bottom: 0;
      }

      &::before {
        content: '\2022\00a0\00a0';
        color: $color_supply;
        position: absolute;
        left: 0;
        margin-top: 0.26rem;
      }
    }
  }
  ol {
    margin-top: 10px;
    li {
      &::before {
        content: '';
      }
    }
  }
}

@keyframes placeHolderShimmer {
  0% {
    background-position: -468px 0;
  }

  100% {
    background-position: 468px 0;
  }
}

@mixin animated-background {
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background: linear-gradient(to right, #f6f6f6 8%, #f0f0f0 18%, #f6f6f6 33%);
  background-size: 800px 104px;
}

@mixin animated-background--dark {
  @include animated-background();
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.1) 8%,
    rgba(255, 255, 255, 0.118) 18%,
    rgba(255, 255, 255, 0.1) 33%
  );
}

@mixin animated-background--super-dark {
  @include animated-background();
  background: linear-gradient(
    to right,
    rgba(20, 30, 39, 0.7) 8%,
    rgba(20, 30, 39, 1) 18%,
    rgba(20, 30, 39, 0.7) 33%
  );
}

.animated-background {
  @include animated-background();
}

.animated-background--dark {
  @include animated-background--dark();
}

.animated-background--super-dark {
  @include animated-background--super-dark();
}

@mixin after-badge {
  border-radius: $border-radius;
  border: 1px solid $color_blue_1;
  color: $color_blue_1;
  padding: 0.3rem;
  font-size: 12px;
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
}